
// This is a file created from following kudvenkat, ASP NET Core Identity UserManager and SignInManager
// https://www.youtube.com/watch?v=TfarnVqnhX0 @8:41
// File has been screengrabbed and OCR'd and is INCOMPLETE
// Created this page bc it seemed to be referenced in the new AccountController.cs, but alas...

@page
@model VeniceArtShow.WebAPI.RegisterViewModel
@{
    ViewData["Title"] = "User Registration";
}

<h1>User Registration</h1>

<div class = "row">
<div class= col-md-12*> <form methods"post">
<div asp-validation-summaryla"All" classe"text-danger"></div> <div classa"form-group">
<label asp-fors"Email"></label>
<input asp-fors"Email" class="form-control' /> <span asp-validation-fors"Email" class="text-danger*></span>
</div> <div class="form-group">
<label asp-fors"Password™></label>
<input asp-for="Password" classe"form-control" /> <span asp-validation-fors "Password" classe"text-danger"></span>
</div> 

@* <div class="form-group"> *@
